@model IEnumerable<Teatcher>

<body class="bg-light">
    <a asp-controller="Admin" asp-action="AssignTeatcher" class="btn btn-primary"> Add New Teatcher</a>
    <!-- Main body -->
    <div class="container">
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-fit mt-5 table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Center</th>
                        <th scope="col">Course</th>
                        <th scope="col">IsMarried</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var teatcher in Model)
                    {
                        <tr>
                            <td></td>
                            <td>
                                @Html.DisplayFor(x => teatcher.User.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(x => teatcher.Center.CenterName)
                            </td>
                            <td>
                                @Html.DisplayFor(x => teatcher.Course.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(x => teatcher.IsMarried)
                            </td>
                            <td>
                                <a asp-controller="Teatcher" asp-action="Details" asp-route-id="@teatcher.Id" type="button" class="btn">
                                    <i class="material-icons text-warning">Details</i>
                                </a>
                                <a asp-controller="Teatcher" asp-action="Edit" asp-route-id="@teatcher.Id" type="button" class="btn">
                                    <i class="material-icons text-warning">edit</i>
                                </a>
                                <a asp-controller="Teatcher" asp-action="Index" asp-controller="Course" asp-route-id="@teatcher.Id" type="button" class="btn">
                                    <i class="material-icons text-danger">delete</i>
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />


}