@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "Users";
}
<h1>
    Users
</h1>
<a asp-action="Add" class="btn btn-primary"> Add New </a>
<table class="table table-striped mt-4">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td></td>
                @* <th>@user.Id </th> *@
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@string.Join(" , ",@user.Roles.ToList())</td>
                <td>
                    <a class="btn btn-primary " asp-controller="Users" asp-action="ManageRoles" asp-route-userId="@user.Id">Manage Roles</a>
                    <a asp-controller="Users" asp-action="SoftDelete" asp-route-id="@user.Id" type="button" class="btn">
                        <i class="material-icons text-danger">delete</i>
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}