
@model IEnumerable<Course>
<body class="bg-light">
    <a asp-controller="Admin" asp-action="AssignCourse" class="btn btn-primary"> Add New Course</a>
    <!-- Main body -->
    <div class="container">
       @*  <div class="alert alert-success alert-dismissible fade show d-none" role="alert">
            <strong>Success!</strong> Course Deleted
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div> *@
        <!-- Table -->
        <div class="table-responsive">
            <table id="tblCourse" class="table table-fit mt-5 table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Hours</th>
                        <th scope="col">Center</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                   @*  @foreach (var Course in Model)
                    {
                        <tr>
                            
                            <td></td>
                            <td>
                                @Html.DisplayFor(x => Course.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(x => Course.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(x => Course.Hours)
                            </td>
                            <td>
                                @Html.DisplayFor(x => Course.Center.CenterName)
                            </td>
                            <td >
                                <a asp-action="Details" type="button" class="btn" asp-route-id="@Course.Id">
                                    <i class="material-icons text-primary">Details</i>
                                </a>
                                <a asp-action="Edit" type="button" class="btn" asp-route-id="@Course.Id">
                                    <i class="material-icons text-warning">Edit</i>
                                </a>
                                <a type="button" class="btn js-delete" id="@Course.Id" data-Id="@Course.Id">
                                    <i class="material-icons text-danger">Delete</i>
                                </a>
                            </td>
               
                        </tr>
                    }
                    *@
                </tbody>
            </table>
        </div>
        </div>
 </body>
 @section Scripts{

    <script type="text/javascript">
       
        $(document).ready(function () {
            
            $.ajax({
                url: '/Course/GetCourses',
                dataType: "json",
                method: 'GET',
                success: function (result) {
                    var courseTable = $('#tblCourse tbody');
                    courseTable.empty();
                    $(result.data).each(function (index, course) {
                        courseTable.append(
                            `<tr><td> 
                             </td><td>  ${course.name}  
                             </td><td>  ${course.description}  
                             </td><td>  ${course.hours} 
                             </td><td>  ${ course.center.centerName} 

                             <td><a href="/Course/Details/${course.id}" type="button" class="btn" ><i class="material-icons text-primary">Details</i></a>
                                         <a href="/Course/Edit/${course.id}" type="button" class="btn" ><i class="material-icons text-warning">Edit</i></a>
                                         <a href="/Course/SoftDelete/${course.id}" type="button" class="btn" ><i class="material-icons text-danger">Delete</i></td>
                                     </td></tr>`
                            );
                    });
                    console.log(result);
                    console.log(result.data);
                },
                error: function (err) {
                    alert(err);
                }
            });
        });
    </script>

@* 
    <script>

           $('.js-delete').on('click', function () {
                       var btn = $(this)
            console.log(btn)
            var id = btn.data('id')
            console.log(id)
                 $.ajax
                     ({
                         url: `/Course/SoftDelete/${btn.data('id')}`,
                         method: 'DELETE',
                         success: function () {
                             swal.fire({
                                 title: "Deleted!",
                                 text: "Course has been deleted.",
                                 icon: "success"
                             });
                             btn.parents('tr').fadeOut();
                             $('#alert').removeClass('d-none');
                             setTimeout(function () { $('#alert').addClass('d-none'); }, 3000)
                         },
                         error: function () {
                             swal.fire({
                                 title: "Deleted!",
                                 text: "Something went wrong",
                                 icon: "error"
                             });
                         }

                });

        });
            
            
            </script> *@
 }