
@model IEnumerable<Course>
<body class="bg-light">
    <a asp-controller="Admin" asp-action="AssignCourse" class="btn btn-primary"> Add New Course</a>
    <!-- Main body -->
    <div class="container">
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-fit mt-5 table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Hours</th>
                        <th scope="col">Center</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Course in Model)
                    {
                        <tr>
                            
                            <td></td>
                            <td>
                                @Html.DisplayFor(x => Course.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(x => Course.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(x => Course.Hours)
                            </td>
                            <td>
                                @Html.DisplayFor(x => Course.Center.CenterName)
                            </td>
                            <td >
                                <a asp-action="Details" type="button" class="btn" asp-route-id="@Course.Id">
                                    <i class="material-icons text-primary">Details</i>
                                </a>
                                <a asp-action="Edit" type="button" class="btn" asp-route-id="@Course.Id">
                                    <i class="material-icons text-warning">Edit</i>
                                </a>
                                <a asp-action="SoftDelete" type="button" class="btn" asp-route-id="@Course.Id">
                                    <i class="material-icons text-danger">Delete</i>
                                </a>
                            </td>
               
                        </tr>
                    }
                   
                </tbody>
            </table>
        </div>
        </div>
 </body>